body{
	font-family: "Gelasio", serif;
	color: #000000;
	background: url(background.jpg);
}

.profile-header{
	font-size: 1.5em;
	text-align: center;
}

.navigation{
	font-size: 1em;
	text-align: center;
	color: #2E8B57;
}	

.img_s{
	width: 5em;
	height: 5em;
	margin: 10em;
}	
